body{
    margin: 0%;
    padding: 0%;
}
.row1{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.list{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
    font-size: 12px;
    margin-top: 2px;
}
.row2{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
   justify-content: center;
   align-items: center;
    

}
.imglogo{
    height: 40px;
}
.input{
    width: 700px;
    height: 35px;
    border: 0;
}
.searchbar{
    display: flex;
}
.ri-search-line{
    height: 25px;
    width: 30px;
}

.content{
    background-color: #f5f5f5;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.h-p{
    color: rgb(66,66,66);
    font-size: 22px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    padding-top: 20px;

}
.h-card{
    display: flex;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}
.c-heading3{
    border: 1px solid #f57224;
          border-radius: 2px;
          color: #f57224;
          font-size: 14px;
          font-weight: 500;
          height: 35px;
          line-height: 35px;
          margin-right: 11px;
          margin-top: 13px;
          padding-left: 10px;
          padding-right: 10px;
          text-align: center;
          border-color: rgb(245, 114, 36);
}
.peragraph{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.catog-card{
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    height: 148.5px;
    width: 12.5%;
    padding: 20px;
}
.cate-img{
    align-items: center;
    display: inline-flex;
    height: 80px;
    justify-content: center;
    width: 80px;
    margin-left: 10px;
}
.cate-text{
    text-align: center;
}
.rupees{
    text-decoration: line-through;
}
.rs-first{
    font-size: larger;
    color: #f57224 !important;
}


/* second card */

.second-cards{
    margin-top: 20px;
}
.footer{
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%; 
   padding-right: 10%;
    background-color: white;
    padding-top: 2%;
}
.bottom{
    height: 100%;
    width: 100%;
    
}